# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyd

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.venv/
streamlit/
Scripts/
Lib/
Include/
pyvenv.cfg

# ===============================
# Jupyter / IPython
# ===============================
.ipynb_checkpoints/
jupyter/
etc/
share/

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
